.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chart_box {
  flex-grow: 1; /* Faz o gráfico ocupar o espaço vertical que sobrar */
  min-height: 0; /* Previne que o gráfico expanda o container pai */
}

.values_box{
  width: 100%;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items :end;
  justify-content: center;
}

.values {
  mask-image: linear-gradient(to bottom, black 0%, black 30%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 0%, black 30%,  transparent 100%);

  width: 30%;
  height: 100%; /* Faz a lista ocupar toda a altura da .values_box */
  overflow: hidden;
  overflow-y: scroll;
}

.pos {
  color: #52b97d;
}

.neg {
  color: red;
}
